/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
}

/* HEADER */

header{
    background-color: white;
}

.container-header{
    width: 95%;
    margin: auto;
    padding: 10px;
}

/* Header logo */
 .logo{
    vertical-align: middle;
}
/* header h1 */
header h1{
    display: inline-block;
    vertical-align: middle;
}

/* MAIN */

/* Main container box */
main .container-box{
    width: 60%;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
}

.container-main{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;;

}

/* Main top buttons */
.btn{
    text-decoration-line: none;
    display: inline-block;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    font-weight: 600;
    
}

.btn.task{
    background-color:#47adf1 ;
    color: white;
    width: 90px;
    border: 2px solid #47adf1;
    border-radius: 5px;
}

.btn.section{
    background-color:white ;
    color: #e2e5e8;
    width: 120px;
    border: 2px solid #e2e5e8;
    border-radius: 5px;
}
/* main vertical line */
.verticalline{
    width: 100%;
    height: 5px;
    border-top: 2px solid #f6f8f9;
    margin-top: 10px;
}
/* Main section ul */
ul{
    list-style-type: none;
    line-height: 40px;
    font-weight: 700;
    color: grey;
}

.first-list{
    margin-bottom: 20px;
}

ul h2{
    font-size: 22px;
    color: black;
}

.btn.editorial{
    background-color:#47adf1 ;
    color: white;
    width: 75px;
    border: 2px solid #47adf1;
}
/* Main symbols */
.symbol{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    vertical-align: middle;
}

.symbol.check{
    color: #88d0be;
    border: 2px solid #88d0be;
}

.symbol.cross{
    color:#ef7c78;
    border: 2px solid #ef7c78;
}
/* Main ul buttons */
.btn.goals{
    background-color:#9c72e4 ;
    color: white;
    width: 85px;
    border: 2px solid #9c72e4;
}

.btn.recruiting{
    background-color:#64c0a9 ;
    color: white;
    width: 85px;
    border: 2px solid #64c0a9;
}

.btn.mobile{
    background-color:#f29e33 ;
    color: white;
    width: 60px;
    border: 2px solid #f29e33;
}

.btn.website{
    background-color: #d863a1;
    color: white;
    width: 70px;
    border: 2px solid #d863a1;
}

.btn.sales{
    background-color: #b0c926;
    color: white;
    width: 50px;
    border: 2px solid #b0c926;
}


