/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: Arial;
    background-color: #f6f8f9;
}
ul {
    list-style-type: none;
}

/* HEADER */
header {
    background-color: white;
    padding: 10px;
}
.logo {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
}
.logo-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
}

/* MAIN */
.main-container {
    background-color: white;
    width: 65%;
    margin: 40px auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* Buttons section */
.buttons-section {
    padding: 10px 40px;
    border-bottom: 2px solid #f6f8f9;
}
.btn {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 5px;
}
.btn-cyan {
    background-color: #14aaf5;
    color: white;
    border-color: #14aaf5;
}
.btn-white {
    background-color: white;
    color: lightgray;
    border-color: lightgray;
}
/* Tasks list section */
.task-list {
    padding: 35px 40px;
}
.arrow-down {
    font-size: 23px;
}
.main-list li {
    padding-bottom: 10px;
}
.main-list-title {
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
}
.sublist li {
    padding: 10px 0;
}
.circle {
    display: inline-block;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}
.circle-green {
    color: #2cc6ab;
    border-color: #2cc6ab;
}
.circle-red {
    color: red;
    border-color: red;
}
.tag {
    border: 1px solid black;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
}

.editoriale {
    background-color: #14aaf5;
    border-color: #14aaf5;
}
.q-1 {
    background-color: purple;
    border-color: purple;
}

.website{
    background-color: pink;
    border-color: pink;
}

.mobiles{
    background-color: orange;
    border-color: orange;
}
